:root {
    --bg-color: #141414;
    --card-bg: #1f1f1f;
    --primary-color: #180bce;
    --text-color: #ffffff;
    --text-muted: #a3a3a3;
    --font-family: 'Inter', sans-serif;
    --transition: all 0.3s ease;
}

* {





header{
    background-color: black;
    color: white;
    text-align: center;
}
main{
    background-color: white;
    color: blue;
    text-align: center;
}

.conteiner-card{
    display: flex;
}

img{
    width: 150px;
    height: 100px;
}
